* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', 'Poppins', sans-serif;
}

header {
    background-color: #E6C019;
}

p {
    font-size: 1.5rem;
}

ul {
    display: flex;
    width: auto;
    background-color: #E63109;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    padding: 1.5rem 0.6rem;
}

li a {
    text-decoration: none;
    color: #E6C019;
}

.container p, .container h2 {
    padding: 1rem 0.6em;
}

.container.alpha {
    display: block;
    box-sizing: border-box;
    background-color: #E6C019;
    color: #E63109;
}

.container.alpha img, .container.beta img {
    display: flex;
    height: auto;
    width: 100vw;
}

.conRight .card img {
    box-sizing: border-box;
    height: auto;
    width: 100%;
}